<!DOCTYPE html>
<html lang="en">
<!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->
    <head>
        {{> meta pageTitle="Template"}}
    </head>

    <body>

        <section class="section">
            <div class="container">
                <header class="section__title">
                    <h2>Candygen template</h2>
                    <small>Use this to jumpstrart your candygen development</small>
                    <hr />
                    --circleci test
                </header>
            </div>
        </section>

        {{> footer}}
        {{> endofpage}}
    </body>
</html>
